body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    margin-top: 400px;
    display: flex;
    height: 630px;
    width: 650px;
    background-color: #f5f5f5;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.left {
    display: flex;
    flex-direction: column;
}
.profile {
    display: flex;
    flex-direction: row;
    border: none;
    border-style: none;
    height: 320px;
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 10px 7px rgba(0, 0, 0, 0.3);
}
.profile-font1 {
    font-size: 0.7cm;
    display: flex;
    margin-top: 35px;
    margin-left: 15px;
    text-align: center;
}
.profile-font2 {
    display: flex;
    margin-left: 15px;
    font-size: 0.4cm;
}
.profile-font3 {
    display: flex;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 0.3cm;
}
.profile-svg {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
}
.profile-svg-facebook {
    display: flex;
    margin-left: 11px;
    margin-top: 5px;
}
.facebook {
    height: 30px;
    width: 30px;
}
.profile-svg-linkedin {
    display: flex;
    margin-top: 5px;
    margin-left: 0px;
}
.linkedin {
    height: 30px;
    width: 30px;
}
.profile-svg-instagram {
    display: flex;
    margin-top: 7px;
    margin-left: 3px;
}
.instagram {
    margin-top: 2px;
    height: 24px;
    width: 24px;
}

.profile-button {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.profile-button1 {
    margin-left: 11px;
    margin-top: 5px;
}

.view-resume {
    background-color: #000;
    height: 30px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
}
.view-resume:active {
    background-color: #7b0000ec;
    transform: scale(0.95);
}
.resume-arrow {
    font-size: 13px;
}
.profile-button2 {
    margin-left: 11px;
    margin-top: 5px;
}
.github {
    background-color: #000;
    height: 30px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.github:active {
    background-color: #7b0000ec;
    transform: scale(0.95);
}
.github-arrow {
    font-size: 17px;
}
.profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 40px;
}
.skills {
    border: none;
    border-style: none;
    height: 280px;
    width: 300px;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 10px 7px rgba(0, 0, 0, 0.3);
}
.skills-font1 {
    position: absolute;
    font-size: 0.5cm;
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
}
.skills-img {
    position: top;
    height: 280px;
    width: 290px;
    border-radius: 20px;
}
.right {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.experience {
    border: none;
    border-style: none;
    height: 200px;
    width: 325px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 10px 7px rgba(0, 0, 0, 0.3);
}
.experience-text1 {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 0.5cm;
}
.experience-text2 {
    font-size: 0.3cm;
    margin-left: 15px;
    margin-top: 13px;
}
.experience-img-row1 {
    display: flex;
    flex-direction: row;
}
.experience-text3 {
    margin-top: 5px;
    margin-left: 15px;
}
.experience-text-row1 {
    display: flex;
    flex-direction: row;
}
.experience-text4 {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 0.3cm;
}
.experience-coop {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    height: 15px;
    width: 40px;
    border-radius: 12px;
    border: 1px solid;
    border-color: #000;
    margin-left: 20px;
    margin-top: 2px;
}
.experience-img-row1-ministry-of-public-and-business-service-delivery{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 10px;
}
.experience-text5 {
    font-size: 0.3cm;
    margin-left: 15px;
    margin-top: 13px;
}
.experience-img-row2 {
    display: flex;
    flex-direction: row;
}
.experience-img-row2-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #D7E039;
    margin-left: 120px;
}
.experience-centennial-college-img {
    border-radius: 4px;
    width: 40px;
    height: 13px;
}
.experience-text6 {
    margin-top: 3px;
    margin-left: 15px;
}
.experience-text-row2 {
    display: flex;
    flex-direction: row;
}
.experience-text7 {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 0.3cm;
}
.experience-parttime {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    height: 15px;
    width: 60px;
    border-radius: 12px;
    border: 1px solid;
    border-color: #000;
    margin-left: 20px;
    margin-top: 2px;
}
.projects {
    margin-top: 15px;
    border: none;
    border-style: none;
    height: 400px;
    width: 325px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 10px 7px rgba(0, 0, 0, 0.3);
}
.projects-text1 {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 0.5cm;
}
.project-project1 {
    margin-top: 10px;
    margin-left: 15px;
    border: 2px rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-radius: 25px;
    height: 125px;
    width: 295px;
}
.projects-img-row1 {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    margin-left: 15px;
}
.projects-text2 {
    margin-top: 7px;
}
.projects-img-row1-circle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #000;
    margin-left: 120px;
}
.projects-topright-arrow-img {
    border-radius: 4px;
    width: 40px;
    height: 25px;
}
.projects-text-row1 {
    display: flex;
    flex-direction: row;
}
.projects-react {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    height: 15px;
    width: 40px;
    border-radius: 12px;
    border: 1px solid;
    border-color: #000;
    margin-left: 15px;
}
.projects-scss {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    height: 15px;
    width: 40px;
    border-radius: 12px;
    border: 1px solid;
    border-color: #000;
    margin-left: 4px;
}
.projects-word {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    height: 15px;
    width: 40px;
    border-radius: 12px;
    border: 1px solid;
    border-color: #000;
    margin-left: 4px;
}
.project-text4 {
    margin-left: 15px;
    margin-top: 5px;
}
.project-button-row1 {
    display: flex;
    flex-direction: row;
}
.project-button {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 15px;
}
.project-button1 {
    margin-left: 11px;
}
.view-on-github {
    background-color: #000;
    height: 20px;
    width: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 9px;
}
.view-on-github:active {
    background-color: #7b0000ec;
    transform: scale(0.95);
}
.projects-figma {
    display: flex;
    background-color: black;
    margin-left: 8px;
    border-radius: 20px;
    align-items: center;
}
.figma {
    height: 15px;
    width: 30px;
}
.project-project2 {
    margin-top: 10px;
    margin-left: 15px;
    border: 2px rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-radius: 25px;
    height: 125px;
    width: 295px;
}
.projects-img-row2 {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    margin-left: 15px;
}
.projects-text3 {
    margin-top: 7px;
}
.projects-img-row2-circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #000;
    margin-left: 120px;
}
.projects-text-row2 {
    display: flex;
    flex-direction: row;
}